.title_page {
    text-align: center;
    font-family: fantasy;
}

.btn_add_article {
    position: fixed;
    top: 1%;
    right: 2%;
}

.index_page_btn {
    position: fixed;
    top: 1%;
}

.titleIndex h3 {
    margin: 50px auto;
}

.tags_form {
    border: lightgray solid 1px;
    padding: 2%;
    border-radius: 5px 5px 5px;
}

.form_Article {
    margin: 10px auto;
    width: 30%;
}

.date_tag {
    color: #565656;
    font-size: 12px;
}

hr {
    background: black;
}

.blog_page {
    width: 50%;
}

.tags {
    border: grey solid 1px;
    min-width: 15%;
    min-height: 100px;
    position: fixed;
    right: 2%;
    top: 15%;
    padding: 10px;
    font-family: fantasy;
}

.tags a {
    text-decoration: none;
    color: green;
    font-family: fantasy;
}

.block {
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 10px;
}

.read_more_link, .show_less_link {
    text-decoration: none;
    font-weight: bolder;
    color: green;
}

.tag_form {
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    margin: 5% auto;
}

.btn_create_tag {
    position: fixed;
    right: 2%;
    top: 9%;
}

.article {
    padding: 4%;
    margin: 20px auto;
    border: 1px solid black;
    width: 50%;
}