{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="article">
                <h3>{{ article.title }}</h3>
                <p><span class="date_tag">{{ article.date|date("m/d/Y") }}</span></p>
                {{ article.description }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

