<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <script src="/js/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="/js/javascreept.js">
        <link rel="stylesheet" href="/bootstrap-4.1.2-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bootstrap-4.1.2-dist/css/bootstrap-grid.css">
        <link rel="stylesheet" href="/bootstrap-4.1.2-dist/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="/style.css">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
