{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row titleIndex">
            <h3>Добавление новой статьи</h3>
        </div>
        <div class="row">
            <div class="form_Article">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="/js/javascreept.js">
        </script>
    {% endblock %}
{% endblock %}