{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="title_page">Блог
        <hr>
        <br>{{ filter_tag.title }}</h2>
    <a href="{{ path('CreateArticle') }}">
        <button class="btn_add_article btn btn-primary">Добавить статью</button>
    </a>
    <a href="{{ path('indexPage') }}">
        <button class="index_page_btn btn btn-primary">Перейти ко всем статьям</button>
    </a>
    <a href="{{ path('createTag') }}">
        <button class="btn_create_tag btn btn-primary">Создать тег</button>
    </a>
    <div class="container-fluid blog_page">
        <div class="tags">
            <h4>Теги</h4>
            <hr>
            {% for tag in tags %}
                <a href="{{ path('filter',{'id': tag.id}) }}">{{ tag.title }}</a> ,
            {% endfor %}
        </div>
        {% for article in articles %}
            <div class="row block">
                <div class="col">
                    <h3>{{ article.title }}</h3>
                    <p><span class="date_tag">{{ article.date|date("m/d/Y") }}
                            {% for tag  in article.tags %}
                                {{ tag.title }} .
                            {% endfor %}
                        </span></p>
                    <div class="">
                        {{ article.description|length >40 ? article.description|slice(0,40) ~ '' : article.description }}
                        <a href="{{ path('article',{'id': article.id}) }}">читать дальше...</a>
                    </div>

                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/js/javascreept.js">
    </script>
{% endblock %}
    {% block title %}

    {% endblock %}

